<a href="https://colab.research.google.com/github/rlorey/food_sales_predictions/blob/main/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [124]:
#Sale Predictions of Food Items
import pandas as pd
sales_data = '/content/sales_predictions (1).csv'  #source: https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/
df = pd.read_csv(sales_data)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [126]:
df.shape #1 (#rows, #columns)

(8523, 12)

In [127]:
df.dtypes #2 data types of each variable

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [128]:
#3 Are there any duplicates? no
df.duplicated().sum() #look for duplicated rows and total the number of duplicates

0

In [129]:
#4 Are there any missing values? yes
df.isna().sum() #Total number of missing values in each column

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [130]:
df.isna().any()[lambda x: x]

Item_Weight    True
Outlet_Size    True
dtype: bool

In [131]:
df.loc[df.isnull().any(axis=1)] #locate rows with missing values

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07        19.20  ...      Grocery Store           732.3800
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
8              FDH17        16.20  ...  Supermarket Type1          1076.5986
9              FDU28        19.20  ...  Supermarket Type1          4710.5350
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
...              ...          ...  ...                ...                ...
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128
8508           FDW31        11.35  ...  Supermarket Type1          2587.9646
8509           FDG45         8.10  ...      Grocery Store           424.7804
8514           FDA01        15.00  ...  Supermarket Type1           468.7232
8519           FDS36         8.38  ...  Supermarket Type1           549.2850

[3873 rows x 12 columns]

In [133]:
df_nullWeights= df.loc[df['Item_Weight'].isnull()] #locate rows where Item_Weights are missing
df_nullWeights

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [134]:
df.groupby(['Item_Type'])[['Item_Weight']].mean() #look at average weight of each Item_Type group

                       Item_Weight
Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731

In [135]:
df["Item_Weight"] = df.groupby("Item_Type").transform(lambda x: x.fillna(x.mean())) #5 Fill in missing values in the Item_Weight column by taking the mean of the Item_Type groups and filling them in to each corresponding missing Item_Weight
df.head(8) #I chose to fill in missing weights with average weight of each Item_Type group because similar food types tend to have relatively close weights

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15      9.30000  ...  Supermarket Type1          3735.1380
1           DRC01      5.92000  ...  Supermarket Type2           443.4228
2           FDN15     17.50000  ...  Supermarket Type1          2097.2700
3           FDX07     19.20000  ...      Grocery Store           732.3800
4           NCD19      8.93000  ...  Supermarket Type1           994.7052
5           FDP36     10.39500  ...  Supermarket Type2           556.6088
6           FDO10     13.65000  ...  Supermarket Type1           343.5528
7           FDP10     12.98788  ...  Supermarket Type3          4022.7636

[8 rows x 12 columns]

In [136]:
df.isna().sum() #check for missing values in Item_Weight

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [137]:
df[['Outlet_Type', 'Outlet_Size']]

            Outlet_Type Outlet_Size
0     Supermarket Type1      Medium
1     Supermarket Type2      Medium
2     Supermarket Type1      Medium
3         Grocery Store         NaN
4     Supermarket Type1        High
...                 ...         ...
8518  Supermarket Type1        High
8519  Supermarket Type1         NaN
8520  Supermarket Type1       Small
8521  Supermarket Type2      Medium
8522  Supermarket Type1       Small

[8523 rows x 2 columns]

In [138]:
df.dropna(inplace = True) #drop remaining rows with missing values in the Outlet_Size column
#I chose to drop the rows in this case because there is no way to determine the Outlet_Size from the given data. If it was the real world, it might be possible to circle back and get the missing data.

In [139]:
df.isna().sum() #check for missing values in Outlet_Size

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [140]:
#7 find and fix any inconsistent categories of data
df['Item_Fat_Content'].value_counts()

Low Fat    3641
Regular    2076
LF          233
reg          82
low fat      81
Name: Item_Fat_Content, dtype: int64

In [141]:
#Create consistent groups in Item_Fat_Content
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace(['LF', 'low fat', 'reg'], ['Low Fat', 'Low Fat', 'Regular'])
df['Item_Fat_Content'].value_counts()

Low Fat    3955
Regular    2158
Name: Item_Fat_Content, dtype: int64

In [132]:
df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [143]:
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [145]:
df['Outlet_Location_Type'].value_counts()

Tier 3    2795
Tier 1    2388
Tier 2     930
Name: Outlet_Location_Type, dtype: int64

In [146]:
df['Outlet_Type'].value_counts()

Supermarket Type1    3722
Supermarket Type3     935
Supermarket Type2     928
Grocery Store         528
Name: Outlet_Type, dtype: int64

In [153]:
#8 For any numerical columns, obtain the summary statistics of each (min, max, mean)
df[["Item_Weight", "Item_Visibility", 'Item_MRP', 'Outlet_Establishment_Year', 'Item_Outlet_Sales']].min()

Item_Weight                     4.5550
Item_Visibility                 0.0000
Item_MRP                       31.2900
Outlet_Establishment_Year    1985.0000
Item_Outlet_Sales              33.9558
dtype: float64

In [154]:
df[["Item_Weight", "Item_Visibility", 'Item_MRP', 'Outlet_Establishment_Year', 'Item_Outlet_Sales']].max()

Item_Weight                     21.350000
Item_Visibility                  0.328391
Item_MRP                       266.888400
Outlet_Establishment_Year     2009.000000
Item_Outlet_Sales            13086.964800
dtype: float64

In [155]:
df[["Item_Weight", "Item_Visibility", 'Item_MRP', 'Outlet_Establishment_Year', 'Item_Outlet_Sales']].mean()

Item_Weight                    12.889197
Item_Visibility                 0.064505
Item_MRP                      141.256859
Outlet_Establishment_Year    1995.794373
Item_Outlet_Sales            2322.688445
dtype: float64

In [156]:
df[["Item_Weight", "Item_Visibility", 'Item_MRP', 'Outlet_Establishment_Year', 'Item_Outlet_Sales']].describe()
#alternate method for finding statistics on multiple columns

       Item_Weight  ...  Item_Outlet_Sales
count  6113.000000  ...        6113.000000
mean     12.889197  ...        2322.688445
std       4.083455  ...        1741.592093
min       4.555000  ...          33.955800
25%       9.800000  ...         974.731200
50%      12.987880  ...        1928.156800
75%      15.700000  ...        3271.075400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]